* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #000;
    color: #fff;
}

/* HEADER */
.header {
    background: #555;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav a {
    color: #fff;
    margin-left: 15px;
    text-decoration: none;
}

/* PRODUCTOS */
.productos {
    padding: 30px 20px;
}

.productos h1 {
    text-align: center;
    margin-bottom: 20px;
}

.filtros {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 25px;
}

.filtros select,
.filtros input {
    padding: 8px;
    border-radius: 20px;
    border: none;
    outline: none;
}

/* GRID */
.grid-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    gap: 25px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}


/* modo columnas SOLO visual */
.grid.columnas {
    grid-auto-flow: column;
}

.card {
    background: #5bb6eb;
    border-radius: 16px;
    padding: 15px;
    height: 220px;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.card img {
    width: 90px;
    height: 90px;
    object-fit: contain; 
    margin-bottom: 10px;
}

.card h3 {
    font-size: 14px;
    margin-bottom: 4px;
}

.card p {
    font-weight: bold;
    font-size: 14px;
}

/* FOOTER */
.footer {
    background: #eee;
    color: #000;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 40px;
}

.footer h4 {
    margin-bottom: 0;
}

/*responsive*/

.card {
    position: relative;
    cursor: pointer;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.85);
    color: #fff;
    opacity: 0;
    transition: .3s;
    padding: 15px;
    pointer-events: none; 
}
.card:hover .overlay {
    opacity: 1;
}


@media (max-width: 900px) {
    .grid-productos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .grid-productos {
        grid-template-columns: 1fr;
    }
}

.overlay {
    pointer-events: none; 
}
